<div class="container">
            <div class="text-center heading-margin">
                    <h1>Register Your Complaint <span id="user"></span></h1>
                </div>
                <br>
                <div class="text">
                    <p>Enter number of UCC caller:</p>
                </div>
            <textarea name="UCCcaller" placeholder="UCC caller number" cols="20" rows="1" maxlength="10" required></textarea>
            <br>
            <br>
            <br>
            
    </div>

    <div class="container">
        <div class="text">
                <br>
                <br>
                <p>Choose the nature of your complaint regarding UCC caller:</p>
                <br>
                <br>
            </div>
    
        <div class="clearfix"></div>
            </div>
            <div class="optionContainer">
                <div class="switch">
                    Caller contacted me despite revoking consent
                    <label>
                        <input type="radio" name="compl" id="noconsent">
                        <span class="lever"></span>

                    </label>
                </div>
                <div class="clearfix"></div>
            </div>  
            <div class="optionContainer">
                <div class="switch ">
                    I am not interested in caller’s products and my preferences reflect it
                    <label>
                        <input type="radio" name="compl" id="typewpref">
                        <span class="lever"></span>

                    </label>
                </div>

                <div class="clearfix"></div>
            </div>
            <div class="optionContainer">
                <div class="switch">
                    I am not interested in caller’s products, please update my preferences
                    <label>
                        <input type="radio" name="compl" id="typewopref">
                        <span class="lever"></span>

                    </label>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="optionContainer">
                <div class="switch">
                    Caller contacted via unacceptable mode, my preferences reflect it
                    <label>
                        <input type="radio" name="compl" id="modewpref">
                        <span class="lever"></span>

                    </label>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="optionContainer">
                <div class="switch">
                    Caller contacted via unacceptable mode, please update my preferences
                    <label>
                        <input type="radio" name="compl" id="modewoprefs">
                        <span class="lever"></span>

                    </label>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="optionContainer">
                <div class="switch">
                    Called contacted at unacceptable day and time and my preferences reflect it
                    <label>
                        <input type="radio" name="compl" id="dtwpref">
                        <span class="lever"></span>

                    </label>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="optionContainer">
                <div class="switch">
                    Caller contacted at unacceptable day and time, please update my preferences
                    <label>
                        <input type="radio" name="compl" id="dtwopref">
                        <span class="lever"></span>

                    </label>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="optionContainer">
                <div class="switch">
                    Caller was rude and unprofessional
                    <label>
                        <input type="radio" name="compl" id="behavior">
                        <span class="lever"></span>

                    </label>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="optionContainer">
                    <div class="switch">
                        Other
                        <label>
                            <input type="radio" name="compl" id="other">
                            <span class="lever"></span>
    
                        </label>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <button id="button">Register Complaint</button>

        </div>

    </div>