<div class="container">
    <div class="text-center heading-margin">
        <p>Welcome <span id="user"></span></p>
    </div>
    <br>
    <div class="categoryContainer">
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">phone</i>
                <input id="complaintPhone" type="number" class="validate">
                <label for="icon_prefix">Enter number of UCC caller</label>
            </div>
        </div>
        <p>Choose the nature of your complaint regarding UCC caller:</p>
        <p>
            <label>
                <input class="with-gap" name="group1" type="radio" value="noconsent"/>
                <span class="colorBlack">I am not interested in caller’s products and my preferences reflect it</span>
            </label>
        </p>
        <p>
            <label>
                <input class="with-gap" name="group1" type="radio" value="typewpref"/>
                <span class="colorBlack">I am not interested in caller’s products, please update my preferences</span>
            </label>
        </p>
        <p>
            <label>
                <input class="with-gap" name="group1" type="radio" value="typewpref"/>
                <span class="colorBlack">Caller contacted via unacceptable mode, my preferences reflect it</span>
            </label>
        </p>
        <p>
            <label>
                <input class="with-gap" name="group1" type="radio" value="modewpref"/>
                <span class="colorBlack">Caller contacted via unacceptable mode, please update my preferences</span>
            </label>
        </p>
        <p>
            <label>
                <input class="with-gap" name="group1" type="radio" value="modewpref"/>
                <span class="colorBlack">Called contacted at unacceptable day and time and my preferences reflect it</span>
            </label>
        </p>
        <p>
            <label>
                <input class="with-gap" name="group1" type="radio" value="modewpref"/>
                <span class="colorBlack">Caller contacted at unacceptable day and time, please update my preferences</span>
            </label>
        </p>
        <p>
            <label>
                <input class="with-gap" name="group1" type="radio" value="behavior"/>
                <span class="colorBlack">Caller was rude and unprofessional</span>
            </label>
        </p>
        <p>
            <label>
                <input class="with-gap" name="group1" type="radio" value="others"/>
                <span class="colorBlack">Other</span>
            </label>
        </p>
        <a class="waves-effect waves-light btn" onclick="submitComplaint()">Submit</a>


    </div>


</div>
