<script>

function deleteConsentTemplate(consentId){
    //$('.modal').modal('open');
    var r = confirm("Are you sure you want to delete "+ consentId+" ?");
if (r == true) {
 sendDeleteConsentTemplate(consentId);
}
<div class="container">
    
    <div class="container">


        <ul class="collection with-header noBorder">
            <li class="collection-header noBorder">
                <h4>Consent Templates</h4>
            </li>
            <div class="greyBorder">
                
                <li class="collection-item">
                    <div>Edit existing templates<a href="/headers?entity=1" class="secondary-content"><i class="material-icons">send</i></a>
                    </div>
                </li>

                <li class="collection-item">
                    <div>Add new template<a href="/consent/1" class="secondary-content"><i class="material-icons">send</i></a>
                    </div>
                </li>

            </div>


        </ul>     
    </div>
</div>