<div class="container">
    <div class="text-center heading-margin">
        <h4>Delete Header</h4>
    </div>

    <div class="categoryContainer">
        <p>Please note that if you have chosen to delete the header with header ID {{headers.headerstr}}</p><br><br>
        <p>If you proceed, this header will be permanently deleted from your account and you will be required to pay to buy this header again.</p><br><br>
        <p>Are you sure you want to delete the header?</p><br><br>
        <a class="waves-effect waves-light btn" onclick="sendDeleteHeader()">Yes. Delete this header.</a>
        <a class="waves-effect waves-light btn" href="/landingPage">No. Take me back!</a>
    </div>
</div>
