<div class="container">
    <div class="text-center heading-margin">
        <h4>Delete Content Template</h4>
    </div>

    <div class="categoryContainer">
        <p>Please note that if you have chosen to delete the Content Template with Template ID {{templates.contentTemplateID}}</p><br><br>
        <p>If you proceed, this template will be permanently deleted from your account</p><br><br>
        <p>Are you sure you want to delete the template?</p><br><br>
        <a class="waves-effect waves-light btn" onclick="sendDeleteTemplate()">Yes. Delete this template.</a>
        <a class="waves-effect waves-light btn" href="/landingPage">No. Take me back!</a>
    </div>
</div>
