<div class="container">
    <div class="text-center heading-margin">
        <p>Entity Login</p>
    </div>

    <div class="categoryContainer">
        <form action="/landingPage" method="get">

            <div class="row">
                <div class="input-field col s12">
                    <input id="entityID" type="text" class="validate">
                    <label for="icon_prefix">Username</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="entityPasswd" type="password" class="validate">
                    <label for="icon_prefix">Password</label>
                </div>
            </div>
            <button class="waves-effect waves-light btn floatRight" type="submit">Login</button>
        </form>
    </div>


</div>

