<div class="container">
    <div class="text-center heading-margin">
        <p>Entity</p>
    </div>

    <div class="categoryContainer">
        <div class="row">
            <div class="input-field col s12">
                <input id="name" type="text" class="validate">
                <label for="icon_prefix">Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="companyType" type="text" class="validate">
                <label for="icon_prefix">Company Type</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="gst" type="text" class="validate">
                <label for="icon_prefix">GST Number</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="pan" type="text" class="validate">
                <label for="icon_prefix">PAN</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="kyc" type="file" class="validate">
            </div>
        </div>
        <a class="waves-effect waves-light btn" onclick="registerEntity()">Register</a>

    </div>


</div>

