<div class="container">
    <div class="text-center heading-margin">
        <p>&nbsp;</p>
    </div>

    <div class="categoryContainer">
        <ul class="collection ">
            <li class="collection-item">
                <div>Register Entity<a href="/entity/register" class="secondary-content"><i
                        class="material-icons">send</i></a></div>
            </li>
            <li class="collection-item">
                <div>Entity Login<a href="/entity/login" class="secondary-content"><i class="material-icons">send</i></a></div>
            </li>
        </ul>
    </div>


</div>

