<div class="container">
    <div class="text-center heading-margin">
        <p>Secure Subscriber Consent/p>
    </div>

    <div class="categoryContainer">
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">phone</i>
                <input id="subscriberPhoneforConsent" type="number" class="validate">
                <label for="icon_prefix">Phone number of the subscriber for consent</label>
                <br>
                <br>
                <p>Content Template for which consent is sought</p>
                <div class="greyBorder">
                    {{#each contentTemplates}}
                    <select>
                        <option value="volvo">{{this.contentTemplateID}}</option>
                    </select>
                    {{/each}}
                </div>
                <br>
                <br>
                <p>Consent Template ID to be sent</p>
                <div class="greyBorder">
                    {{#each consentTemplates}}
                    <select>
                        <option value="volvo">{{this.consentTemplateID}}</option>
                    </select>
                    {{/each}}
                </div>
                <br>
                <br>
            </div>
        </div>
        <a class="waves-effect waves-light btn" onclick="">Send OTP</a>
        <div class="categoryContainer">
            <div class="input-field col s12">
                <input id="otp" type="number" class="validate">
                <label for="icon_prefix">OTP</label>
            </div>
        </div>
        <a class="register" href=""> Register Consent</a>

    </div>


</div>