<div class="container">
    <div class="text-center heading-margin">
        <p>&nbsp;</p>
    </div>

    <div class="categoryContainer">
        <ul class="collection with-header noBorder">
            <li class="collection-header noBorder">
                <h4>Headers</h4>
            </li>
            <div class="greyBorder">
                {{#each headers}}
                <li class="collection-item">
                    <div>{{this.headerstr}}
                        <a href="/header?header={{this.headerstr}}" class="secondary-content"><i class="material-icons">delete</i></a>
                        <a href="/transferHeaders/{{this.headerstr}}" class="secondary-content"><i class="material-icons">send</i></a><br>
                    </div>
                </li>

                {{/each}}
            </div>


        </ul>

        <form action="/api/saveHeader" enctype="multipart/form-data" method="post">
            <div class="categoryContainer">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="headerName" type="text" class="validate">
                    </div>
                </div>
                <button class="waves-effect waves-light btn">Save Header</button>


            </div>
        </form>

    </div>


</div>