<script>

function deleteHeader(headerId){
    //$('.modal').modal('open');
    var r = confirm("Are you sure you want to delete "+ headerId+" ?");
if (r == true) {
 sendDeleteHeader(headerId);
}

}

</script>
<div class="container">
    <div class="text-center heading-margin">
        <p>&nbsp;</p>
    </div>

    <div class="categoryContainer">
        <ul class="collection with-header noBorder">
            <li class="collection-header noBorder">
                <h4>Headers</h4>
            </li>
            <div class="greyBorder">
                {{#each headers}}
                <li class="collection-item" id="deleteHeader{{{this.headerstr}}}">
                    <div >{{this.headerstr}}
                        <a class="secondary-content" onclick="deleteHeader('{{this.headerstr}}')"><i class="material-icons">delete</i></a>
                        <a href="/transfer?header={{this.headerstr}}" class="secondary-content"><i class="material-icons">send</i></a><br>
                    </div>
                </li>

                {{/each}}
            </div>


        </ul>

       <div class="categoryContainer">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="headerName12" type="text" class="validate">
                    </div>
                </div>
                <button class="waves-effect waves-light btn" onclick=saveHeader()>Save Header</button>
            </div>
    </div>
</div>