<div class="container">
    <div class="text-center heading-margin">
        <p>TRAI Login</p>
    </div>

    <div class="categoryContainer">
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">phone</i>
                <input id="loginPhone" type="number" class="validate" >
                <label for="icon_prefix">Phone</label>
            </div>
        </div>
        <a class="waves-effect waves-light btn" onclick="login()">Login</a>
        <a class="register" href="/register"> Register ?</a>

    </div>


</div>

