<div class="container">
    
    <div class="container">


        <ul class="collection with-header noBorder">
            <li class="collection-header noBorder">
                <h4>Main Page</h4>
                <p>Choose the type of user you are</p>
            </li>
            <div class="greyBorder">
                
                <li class="collection-item">
                    <div>Wireless Subscriber<a href="/login" class="secondary-content"><i class="material-icons">send</i></a>
                    </div>
                </li>

                <li class="collection-item">
                    <div>Entity<a href="/gotoEntity" class="secondary-content"><i class="material-icons">send</i></a>
                    </div>
                </li>

                <li class="collection-item">
                    <div>Sender<a href="/gotoSender" class="secondary-content"><i class="material-icons">send</i></a>
                    </div>
                </li>

                <li class="collection-item">
                    <div>TSP<a href="/gotoTSP" class="secondary-content"><i class="material-icons">send</i></a>
                    </div>
                </li>

            </div>


        </ul>     
    </div>
</div>