<div class="container">
    <div class="text-center heading-margin">
        <p>TRAI Register</p>
    </div>
    <form action="/api/addUser" enctype="multipart/form-data" method="post">
        <div class="categoryContainer">
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">phone</i>
                <input id="registerPhone" type="number" class="validate">
                <label for="icon_prefix">Phone</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">account_circle</i>
                <input id="registerName" type="text" class="validate">
                <label for="icon_prefix">Name</label>
            </div>
        </div>
        <button class="waves-effect waves-light btn" type="submit">Register</button>
    </div>
    </form>
</div>

