<div class="container">
    <div class="text-center heading-margin">
        <p>TRAI Register</p>
    </div>

    <div class="categoryContainer">
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">phone</i>
                <input id="registerPhone" type="number" class="validate">
                <label for="icon_prefix">Phone</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">account_circle</i>
                <input id="registerName" type="text" class="validate">
                <label for="icon_prefix">Name</label>
            </div>
        </div>

        <a class="waves-effect waves-light btn" onclick="register()">Register</a>
        <a class="register" href="/login"> Login ?</a>

    </div>


</div>

