<div class="container">
    <form action="/api/scrubFile" enctype="multipart/form-data" method="post">
        <div class="py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="">Scrubbing</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="nav nav-tabs">
                            <li class="nav-item"> <a href="" class="active nav-link" data-toggle="tab" data-target="#tabone">Directed
                                    Scrubbing</a> </li>
                            <li class="nav-item" style=""> <a class="nav-link" href="" data-toggle="tab" data-target="#tabtwo">General
                                    Scrubbing</a> </li>
                        </ul>
                        <div class="tab-content mt-2">
                            <div class="tab-pane fade show active" id="tabone" role="tabpanel">
                                <p class="">Please use this option when you wish to scrub against specific Template IDs</p>
                                <div class row>
                                    <div class="input">
                                        <p>Please Enter below the Template ID you wish to scrub for (in case of single
                                            template scrubbing. For multiple templates, please put template IDs in
                                            Excel file as per format</p>
                                        <input id="templateID" type="text" class="validate">
                                        <label for="icon_prefix">Template ID</label>
                                    </div>
                                </div>

                                <button id="singleButton" onclick="" type="button">Scrubbing for single Template ID</button>
                                <button id="multipleButton" onclick="" type="button">Scrubbing for multiple Template IDs</button>

                            </div>
                            <div class="tab-pane fade" id="tabtwo" role="tabpanel">
                                <p class="">Please use this if you wish to scrub as per categories</p>
                                <div class="categoryContainer">
                                    <button class="category" type="button" data-toggle="collapse" data-target="#typeOfUcc"
                                        aria-expanded="false" aria-controls="typeOfUcc">
                                        <span>UCC Category</span>
                                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                                    </button>


                                    <div class="optionContainer">
                                        <div class="switch">
                                            Banking/Insurance/Financial products/Credit cards
                                            <label>
                                                <input type="checkbox" id="insurancebox" checked>
                                                <span class="lever"></span>

                                            </label>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="optionContainer">
                                        <div class="switch ">
                                            Real Estate
                                            <label>
                                                <input type="checkbox" id="realStatebox" checked>
                                                <span class="lever"></span>

                                            </label>
                                        </div>

                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="optionContainer">
                                        <div class="switch">
                                            Education
                                            <label>
                                                <input type="checkbox" id="educationbox" checked>
                                                <span class="lever"></span>

                                            </label>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="optionContainer">
                                        <div class="switch">
                                            Health
                                            <label>
                                                <input type="checkbox" id="healthbox" checked>
                                                <span class="lever"></span>

                                            </label>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="optionContainer">
                                        <div class="switch">
                                            Consumer goods and automobiles
                                            <label>
                                                <input type="checkbox" id="goodsbox" checked>
                                                <span class="lever"></span>

                                            </label>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="optionContainer">
                                        <div class="switch">
                                            Communication/Broadcasting/Entertainment/IT
                                            <label>
                                                <input type="checkbox" id="entbox" checked>
                                                <span class="lever"></span>

                                            </label>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="optionContainer">
                                        <div class="switch">
                                            Tourism and Leisure
                                            <label>
                                                <input type="checkbox" id="tourismbox" checked>
                                                <span class="lever"></span>

                                            </label>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="optionContainer">
                                        <div class="switch">
                                            Food and Beverages
                                            <label>
                                                <input type="checkbox" id="foodbox" checked>
                                                <span class="lever"></span>

                                            </label>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="categoryContainer">
            <div class="row">
                <div class="input-field col s12">
                    <input id="loginPhone" type="file" name="scrubFile" class="validate">
                </div>
            </div>
            <button class="waves-effect waves-light btn" type="submit" style="float: right">Upload</button>
            </div>
    </form>

    {{#if success}}
        <div class="categoryContainer">
            <div class="row">
                <div class="col s12 m6" style="padding: 0">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">UPLOADED</span>
                            <p>Scrub file generated successfully. <a href="/scrubdownload" style="color: white" >Download</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}

</div>