<div class="container">
    <form action="/api/scrubFile" enctype="multipart/form-data" method="post">
        <div class="py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="">Scrubbing</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="nav nav-tabs">
                            <li class="nav-item"><a href="" class="active nav-link" data-toggle="tab"
                                                    data-target="#tabone">Directed
                                Scrubbing</a></li>
                            <li class="nav-item" style=""><a class="nav-link" href="" data-toggle="tab"
                                                             data-target="#tabtwo">General
                                Scrubbing</a></li>
                        </ul>
                        <div class="tab-content mt-2">
                            <div class="tab-pane fade show active" id="tabone" role="tabpanel">
                                <p class="">Please use this option when you wish to scrub against specific Template
                                    IDs</p>
                                <div class row>
                                    <div class="input">
                                        <p>Please Enter below the Template ID you wish to scrub for (in case of single
                                            template scrubbing. For multiple templates, please put template IDs in
                                            Excel file as per format</p>
                                        <input id="templateID" type="text" class="validate">
                                        <label for="icon_prefix">Template ID</label>
                                    </div>
                                </div>

                                <button id="singleButton" onclick="" type="button">Scrubbing for single Template ID
                                </button>
                                <button id="multipleButton" onclick="" type="button">Scrubbing for multiple Template
                                    IDs
                                </button>

                            </div>
                            
                    </div>
                </div>
            </div>
        </div>
        
    </form>

   

</div>