<div class="container">
    
    <div class="container">


        <ul class="collection with-header noBorder">
            <li class="collection-header noBorder">
                <h4>Sender Account</h4>
            </li>
            <div class="greyBorder">

                <li class="collection-item">
                    <div>Submit a bulk preferences Upload request<a href="/bulkPref" class="secondary-content"><i class="material-icons">send</i></a>
                    </div>
                </li>

                <li class="collection-item">
                    <div>Submit a bulk consents Upload request<a href="/bulkConsents" class="secondary-content"><i class="material-icons">send</i></a>
                    </div>
                </li>

                <li class="collection-item">
                    <div>Submit a Scrubbing Request<a href="/scrubbing" class="secondary-content"><i class="material-icons">send</i></a>
                    </div>
                </li>

                <li class="collection-item">
                    <div>Submit a Calling(de-scrubbing) request<a href="/deScrub" class="secondary-content"><i class="material-icons">send</i></a>
                    </div>
                </li>

            </div>


        </ul>     
    </div>
</div>