<div class="container">
    <div class="text-center heading-margin">
        <p>&nbsp;</p>
    </div>

    <div class="categoryContainer">
        <ul class="collection ">
            <li class="collection-item">
                <div>Register Sender<a href="/sender/register" class="secondary-content"><i
                        class="material-icons">send</i></a></div>
            </li>
            <li class="collection-item">
                <div>Sender Login<a href="/sender/login" class="secondary-content"><i class="material-icons">send</i></a></div>
            </li>
        </ul>
    </div>


</div>
