.text-center {
    text-align: center;
}

.category {
    background: transparent;
    border: 1px solid #efefef;
    padding: 10px;
    margin-bottom: 10px;
}

.register, .register:focus, .register:hover {
    float: right;
    margin-top: 15px;
    color: #2bbbad;
    text-decoration: none;
}

button.category {
    width: 100%;
}

.greyBorder {
    border: 1px solid #e0e0e0;
}

a.waves-effect.waves-light.btn {
    float: right;
    margin: 10px 15px;
    color: white;
}

.floatRight {
    float: right;
}

button.category span {
    float: left;
    font-size: 14px;
}

button.category i {
    float: right;
    font-size: 15px;
}

.colorBlack {
    color: black;
}

.hide {
    display: none;
}

.noBorder {
    border: none !important;
    outline: none !important;
}

button:focus {
    outline: none !important;
    background: none !important;
}

.switch label {
    float: right;
}

.optionContainer {
    padding: 5px 0 5px 15px;
}

/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {
    .heading-margin {
        margin-top: 50px;
    }

    .categoryContainer {
        width: 100%;
        margin: 0 auto;
        display: block;
    }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .heading-margin {
        margin-top: 80px;
    }

    .categoryContainer {
        width: 100%;
        margin: 0 auto;
        display: block;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .heading-margin {
        margin-top: 110px;
    }

    .categoryContainer {
        width: 90%;
        margin: 0 auto;
        display: block;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .heading-margin {
        margin-top: 110px;
    }

    .categoryContainer {
        width: 80%;
        margin: 0 auto;
        display: block;
    }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .heading-margin {
        margin-top: 110px;
    }

    .categoryContainer {
        width: 70%;
        margin: 0 auto;
        display: block;
    }
}